@charset "UTF-8";


header {
    padding: 0px;
    margin-bottom: 0px;
    
}


header img {
    width: 100%;
    height: auto;
}

body {
    margin: 0;
    background-color: #0E0A19;
}

.float-button__wrap {
    display: none;
    width: 100px;
    height: 45px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}
.float-button__wrap a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-color: #D3B792;
    color: black;
}



h3 {
    padding-top: 50px;
}



nav {
    width: 100%;
    padding-top: 50px;
    justify-content: space-between;
    color: white;
    background-color: #0E0A19;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    font-size: 22px;
    padding: 15px 60px;
    display: inline-block;

}

a {
    text-decoration: none;
    color: White;
}

a:hover {
    color: blue;
}


p {
    color:white;
}

.menu {
    width: 23%;
    height: auto;
    padding-top: 100px;
}

.bigstory {
    padding-left: 190px;
}

.bigchara {
    padding: 20px;
    padding-left: 150px;
    width: 80%;
    height: auto;
}

.system1 {
    width: 70%;
    height: auto;
    padding-top: 50px;
    padding-left: 190px;
    margin: 0px;
}

.system2 {
    width: 70%;
    height: auto;
    padding-left: 190px;
    margin: 0px;
}

.bigstory {
    width: 80%;
    height: auto;
}



.element {
    /* 最初は非表示 */
    opacity: 0;
    visibility: hidden;
    transform: translateY(60px);
    transition: opacity 1s, visibility 1s, transform 1s;
  }

.is-fadein {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }





a:hover {
    color: white;
}

article {
    text-align: center;
    color: white;
    padding: 100px;
}

article img {
    width: 90%;
    height:auto;
    padding: 30px;
}

.flex {
    display: flex; /*横並び*/
  }


  .download {
    width: 50%;
    height: auto;
    margin: none; 
    transition: .1s ease-in-out;
  }
  
  .download:hover {
    filter: sepia(100%);
  } 
  
  .flex .image img {
    width: 100%;
    height: auto;
  }
  .flex .text {
    margin: 0 0 0 20px;
    padding: 0;
  }

  .flax2 {
    display: flex;
    flex-flow: column;
  }

  .Twitter {
    width: 50%;
    height: auto;
    text-align: center;
  }
  

 

.logo {
    width: 15%;
    height: auto;
}

.main2 {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 60px;
}

.footer-nav ul{
    margin: 0px;
    background-color: black;
    
}

footer {
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
    background-color: black;
}



img.minimv {display: none;}

.responsive {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
}

@media (min-width:600px) {

    img.bigmv { display: block; }
    img.minimv { display: none; }

    img.bigchara { display: block; }
    img.minichara { display: none; }

    img.bigstory { display: block; }
    img.ministory { display: none; }

    img.system1 { display: block; }
    img.system2 { display: block; }
    img.minisystem { display: none; }

}


@media (max-width:599px) {


    img.bigmv { display: none; }
    img.minimv { display: block; }

    img.bigchara { display: none; }
    img.minichara { display: block; }

    img.bigstory { display: none; }
    img.ministory { display: block; }

    img.system1 { display: none; }
    img.system2 { display: none; }
    img.minisystem { display: block; }



    nav,ul {
        width: 100%;
        justify-content: center;

        margin: 0;
        padding: 0;
        flex-direction: column;
    }

    nav ul li {
        margin: 0;
        padding: 10px;
        text-align: center;
    }

    a {
        display: block;
        padding: 8px;
    }

    a:hover {
        color: blue;
    }
    
    article img {
        width: 100%;
        height:auto;
        
    }

    .menu {
        width: 70%;
        height: auto;
    }

    .ministory {
        width: 100%;
        height: auto;
    }

    .download {
        width: 70%;
        height: auto;
    }   
    

}
